<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fyp.amenms">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <activity
            android:name=".Activities.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />


            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SelectUserTypeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/app_toolbar_login"
            android:parentActivityName=".Activities.SelectUserTypeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RegistrationActivity"
            android:label="@string/REGISTER"
            android:parentActivityName=".Activities.SelectUserTypeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activities.ProfileActivity"
            android:label="@string/Profile"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>


        <activity
            android:name=".Activities.ProfileEditActivity"
            android:label="@string/Profile"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Activities.ForgetPasswordClass"
            android:label="@string/REGISTER"
            android:parentActivityName=".Activities.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.DashboardActivity"
            android:label="@string/REGISTER"
            android:parentActivityName=".Activities.SelectUserTypeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAqfKI1s4DXv3zTinuvtC-Z3C24-rtwtvs" />
    </application>

    <!--    AIzaSyAqfKI1s4DXv3zTinuvtC-Z3C24-rtwtvs-->
</manifest>